@import "tailwindcss";


@font-face {
  font-family: 'calista';
  font-weight: 400;
  src: url('/fonts/calista.ttf');
}

@font-face {
  font-family: 'carves';
  font-weight: 400;
  src: url('/fonts/Carves.ttf');
}

@font-face {
  font-family: 'nexa-extra-light';
  src: url('/fonts/Nexa-ExtraLight.ttf');
}

@font-face {
  font-family: 'nexa-heavy';
  src: url('/fonts/Nexa-Heavy.ttf');
}

@theme{
  --color-primary-500: #021330;
  --color-primary-100: #334d66;
  --color-secondary-500: #0f2742;
  --color-accent-500: #fff6e1;

  --font-calista: 'calista';
  --font-carves: 'carves';
  --font-nexa-extra-light: 'nexa-extra-light';
  --font-nexa-heavy: 'nexa-heavy';
}



.main-container{
  background-image: url("/bg.png");
  background-repeat: repeat;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
}
.content-container{
  max-width: 800px;
  padding: 1em;
}

@media (max-width: 768px) {
  .content-container{
    max-width: 100%;
    padding: 0;
  }
}